<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title">{{'IDEAS' | translate}}</h4>
            </div>
            <div class="aside-body">
                <div class='side-panel'>
                    <div class="form-group" >
                        <input type="text" class="form-control" placeholder="{{'SEARCH_FOR_IDEA' | translate}}" ng-model="sp.spaceSearch">
                    </div>
                    <ul>
                        <li ng-repeat="idea in ideas | orderBy: 'title'" style="border-bottom: 0px solid #ededed; margin-top:10px">
                            <a href='javascript:void(0)' ng-click="$hide();gotoIdea(idea.code);">{{idea.title}}

                            <span class="home-space-badge pull-right">
                                   <i ng-if="space.access=='PR'" class="fa fa-lock fa-fw"></i>
                                      <i ng-if="space.access=='PU'" class="fa fa-unlock fa-fw"></i>
                            </span>
                            </a>

                        </li>
                    </ul>

                    <div ng-show="(ideas | filter:{active:0}).length" style="font-size:11px; text-transform: uppercase; padding: 10px 10px 0px; color:#666">{{'INACTIVE_SPACES' | translate}}</div>
                    <ul>
                        <li ng-repeat="idea in ideas | orderBy: 'title'" style="border-bottom: 0px solid #ededed; margin-top:10px">
                            <a href='javascript:void(0)' ng-click="$hide();gotoIdea(idea.code);">{{idea.title}}

                            <span class="home-space-badge pull-right">
                                   <i ng-if="space.access=='PR'" class="fa fa-lock fa-fw"></i>
                                      <i ng-if="space.access=='PU'" class="fa fa-unlock fa-fw"></i>
                            </span>
                            </a>

                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
